@use '../utils' as *;

/*----------------------------------------*/
/*  2.2 background
/*----------------------------------------*/

.section-bg{
  background-color: var(--tp-theme-bg2);
}
.section-bg2{
  background-color: var(--tp-common-bg);
}
.section-black{
  background-color: $black;
}
.section-orange{
  background-color: #fff0e0;
}
.section-orange-2{
  background-color: var(--tp-text-body);
}
.section-dark{
  background-color: $black;
}