@use '../../utils' as *;

/*----------------------------------------*/
/* 7.26 video css
/*----------------------------------------*/
.#{$theme-prifix}-video{
  &-title{
    line-height: 1.17;
    color: var(--tp-common-white);
    @media #{$lg} {
      font-size: 50px;
    }
    @media #{$md} {
      font-size: 45px;
    }
    @media #{$xs,$sm} {
      font-size: 37px;
    }
    & span{
      color: var(--tp-theme-primary);
    }
  }
  &-play{
    &-2{
      width: 100%;
      object-fit: cover;
      height: 610px;
      @media #{$xs,$sm} {
        height: 310px;
      }
      filter: drop-shadow(0 0 30.5px rgba(3, 5, 45, 0.08));
    }
    &-4{
      background: #fff0e0;
      padding: 190px 0;
      @media #{$md,$sm,$xs} {
        padding: 115px 0;
      }
    }
    &-5{
      width: 140px;
      height: 140px;
      line-height: 140px;
      border-radius: 0;
      border: 1px solid var(--tp-common-white);
      background: none;
      position: relative;
      display: inline-block;
      &::before{
        position: absolute;
        content: "";
        width: 100%;
        animation: pulse2 0.8s ease-out infinite;
        height: 100%;
        border: 1px solid var(--tp-common-white);
        left: 0;
        top: 0;
      }
      & i{
        color: var(--tp-common-white);
        font-size: 20px;
      }
    }
    &-title{
      font-size: 30px;
      line-height: 1.3;
      text-transform: capitalize;
    }
  }
  &-space{
    &-4{
      margin-right: 290px!important;
      @media #{$x3l,$xxl,$xl,$lg,$md,$sm,$xs} {
        margin-right: 0!important;
      }
    }
  }
  &-wrap{
    line-height: 0;
    position: relative;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    height: 850px;
    width: calc(100% - 30px);
    @media #{$xl,$lg}{
      height: 700px;
      margin-bottom: 100px;
    }
    @media #{$md,$sm}{
        margin-bottom: 100px;
        height: 600px;
    }
    @media #{$xs}{
        margin: 0;
        margin-bottom: 40px;
        height: 500px;
        width: 100%;
    }
    &-2{
      background-position: top center;
      background-size: cover;
      object-fit: cover;
      width: 1320px;
      height: 890px;
      margin: 0 auto;
      overflow: hidden;
      @media #{$xl}{
        height: 700px;
      }
      @media #{$xs}{
          height: 500px;
      }
      & video {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
      }
    }
    & .play-video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      background-position: center;
      background-size: cover;
      margin: 0 auto;
    }
  }
  &-trans{
    &-text{
      margin: 0;
      font-size: 120px;
      line-height: 1;
      text-transform: uppercase;
      color: #edd8c1;
      bottom: -49px;
      left: -37px;
      margin-bottom: 0;
      @media #{$sm,$xs} {
        font-size: 80px;
        bottom: -34px;
      }
    }
  }
  &-spacing{
    &-5{
      padding-top: 230px;
      padding-bottom: 240px;
      @media #{$sm,$xs} {
        padding-top: 130px;
        padding-bottom: 140px;
      }
    }
  }
}